
{{#> admin}}
    {{#* inline "content"}}
					<!--begin::Page loading(append to body)-->
					<div class="page-loader flex-column bg-dark bg-opacity-25">
						<span class="spinner-border text-primary" role="status"></span>
						<span class="text-gray-800 fs-6 fw-semibold mt-5">Loading...</span>
					</div>
					<!--end::Page loading-->
					<!--begin::Main-->
					<div class="app-main d-flex flex-column flex-row-fluid" id="kt_app_main">
						<!--begin::Content wrapper-->
						<div class="d-flex flex-column flex-column-fluid">
							<!--begin::Toolbar-->
							<div id="kt_app_toolbar" class="app-toolbar pt-6 pb-2">
								<!--begin::Toolbar container-->
								<div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
									<!--begin::Toolbar wrapper-->
									<div class="app-toolbar-wrapper d-flex  gap-4 w-100">
										<!--begin::Page title-->
										<div class="page-title d-flex flex-column justify-content-center gap-1 me-3">
											<!--begin::Title-->
											<h1 class="page-heading d-flex flex-column justify-content-center text-gray-900 fw-bold fs-3 m-0">Beneficiaries</h1>
											<!--end::Title-->
											
											<!--begin::Breadcrumb-->
											<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0">
												<!--begin::Item-->
												<li class="breadcrumb-item text-muted">
													<a href="/admin/dashboard" class="text-muted text-hover-primary">Home</a>
												</li>
												<!--end::Item-->
												<!--begin::Item-->
												<li class="breadcrumb-item">
													<span class="bullet bg-gray-500 w-5px h-2px"></span>
												</li>
												<!--end::Item-->
												<!--begin::Item-->
												<li class="breadcrumb-item text-muted">Beneficiaries</li>
												<!--end::Item-->
											</ul>
											<!--end::Breadcrumb-->
										</div>
										<div class="d-flex justify-content-between flex-grow-1">
											<div class="d-flex align-items-center gap-2 gap-lg-3">
												<a href="/admin/beneficiaries" class="btn btn-sm btn-icon btn-light btn-active-light-primary" data-bs-toggle="tooltip" data-bs-dismiss="click" data-bs-placement="top" title="Reload">
													<i class="ki-outline ki-arrows-circle fs-2"></i>
												</a>
											</div>
											<div class="d-flex align-items-center gap-2 gap-lg-3">
												<a href="#" id="create" class="text-primary btn btn-warning btn-sm rounded hover-scale" data-bs-toggle="modal">
													<i class="ki-outline ki-plus fs-0 text-primary fs-2"></i> Add beneficiary
												</a>
											</div>
										</div>
										
									</div>
								
									<!--end::Page title-->
								</div>
									<!--end::Toolbar wrapper-->
							</div>
							<!--end::Toolbar-->

							<div id="kt_app_content" class="app-content flex-column-fluid" >
								<!--begin::Content container-->
								<div id="kt_app_content_container" class="app-container container-fluid" >

									<div class="d-flex flex-wrap flex-stack my-5"></div>
									<!--begin::Card-->
										<div class="d-flex flex-column flex-sm-row">
											<!--begin::Search Deal-->
											<div class="d-flex align-items-center position-relative mx-2 mb-2 mb-sm-0">
												<i class="ki-outline ki-magnifier fs-1 position-absolute ms-5"><span class="path1"></span><span class="path2"></span></i>
												<input type="text" data-kt-docs-table-filter="searchDeal" class="form-control form-control-solid w-200px ps-15" placeholder="Search"/>
											</div>
											<!--end::Search Deal-->
											<!--begin::Search currencyFlag-->
											<div class="d-flex align-items-center mx-2">
												<select class="form-select form-select-solid w-200px ps-5" id="searchCurrency" data-hide-search="true" data-placeholder="Search Currency" data-kt-docs-table-filter="search">
													<option></option>
													{{#each currencies}}
														<option value="{{this.id}}"  data-kt-select2-country="/assets/media/flags/{{this.code}}.svg">{{this.code}}</option>
													{{/each}}
												</select>
											</div>
											<!--end::Search currencyFlag-->
										</div>
										<!--end::Wrapper-->
										<!--begin::Datatable-->
										<div id="customEmptyMessage" class="mt-9" style="display:none;">
											<!--begin::Card-->
											<div class="d-flex flex-column flex-sm-row">
												<!--begin::Card body-->
												<div class="card-body pt-3">
													<div class="mt-5 text-center">
														
														<div class="mt-5 text-center">
														<!--begin::Card title-->
															<div class="card-title">
																<i class="ki-outline ki-plus-square fs-3x text-success"></i>
															</div>
															<!--begin::Card title-->
														</div>
														<!--begin::Card title-->
														<div class="card-title">
															<p class="fs-1">No beneficiaries yet</p>
														</div>
														<!--begin::Card title-->
													</div>
													<div class="mt-5 mb-10 text-center">
														<!--begin::Card title-->
														<div class="card-title">
															<p class="fs-5">Start adding people's account details so you're ready to send money.</p>
														</div>
														<!--begin::Card title-->
													</div>
													<!--begin::Actions-->
													<div class="d-flex flex-stack align-items-center justify-content-center">
														<!--begin::Wrapper-->
														<div>
															<div class="d-flex align-items-center gap-2 gap-lg-3">
																<a href="#" id="createSecond" class="text-primary btn btn-warning btn-sm rounded hover-scale" data-bs-toggle="modal">
																	<i class="ki-outline ki-plus fs-0 text-primary fs-2"></i> Add beneficiary
																</a>
															</div>
														</div>
														<!--end::Wrapper-->
													</div>
												</div>
												<!--end::Card body-->
											</div>
											<!--end::Card-->
										</div>
										<table id="kt_datatable_holddingDetail" class="table align-middle table-row-dashed fs-6 gy-5">
											<thead>
											<tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
												<th>Nickname</th>
												<th>Currency</th>
												<th>Bank name</th>
												<th>Account number</th>
												<th>Status</th>
												<th>Actions</th>
											</tr>
											</thead>
											<tbody class="text-gray-600 fw-semibold">
											</tbody>
										</table>
										<!--end::Datatable-->
									<!--end::Card-->
								</div>
								<!--end::Content container-->
							</div>
						</div>
						<!--end::Toolbar-->
						<!--begin::Content-->
						<!--end::Content-->
					</div>
					<!--end::Content wrapper-->
					<!--begin::Footer-->
					<div id="kt_app_footer" class="app-footer">
						<!--begin::Footer container-->
						<div class="app-container container-fluid d-flex flex-column flex-md-row flex-center flex-md-stack py-3">
							<!--begin::Copyright-->
							<div class="text-gray-900 order-2 order-md-1">
								<span class="text-muted fw-semibold me-1">2023&copy;</span>
								<a href="https://tkambio.com/" target="_blank" class="text-gray-800 text-hover-primary">Tkambio</a>
							</div>
							<!--end::Copyright-->
						</div>
						<!--end::Footer container-->
					</div>
					<!--end::Footer-->
                </div>
                <!--end:::Main-->

                </div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
			<div class="modal fade" id="kt_create_beneficiaries">
				<div class="modal-dialog mw-900px">
					<div class="modal-content">
						<div class="stepper stepper-pills" id="kt_stepper_example_basic">
							<div class="modal-header">
								<div class="d-flex align-items-center justify-content-center w-100">
									<!--begin::Nav-->
									<div class="stepper-nav flex-center flex-wrap mx-auto">
										<!--begin::Step 1-->
										<div class="stepper-item mx-8 my-4 current" data-kt-stepper-element="nav">
											<!--begin::Wrapper-->
											<div class="stepper-wrapper d-flex align-items-center">
												<!--begin::Icon-->
												<div class="stepper-icon w-40px h-40px">
													<i class="stepper-check fas fa-check"></i>
													<span class="stepper-number">1</span>
												</div>
												<!--end::Icon-->

												<!--begin::Label-->
												<div class="stepper-label">
													<h3 class="stepper-title">
														Beneficiary
													</h3>

												</div>
												<!--end::Label-->
											</div>
											<!--end::Wrapper-->

											<!--begin::Line-->
											<div class="stepper-line h-40px"></div>
											<!--end::Line-->
										</div>
										<!--end::Step 1-->

										<!--begin::Step 2-->
										<div class="stepper-item mx-8 my-4" data-kt-stepper-element="nav">
											<!--begin::Wrapper-->
											<div class="stepper-wrapper d-flex align-items-center">
												<!--begin::Icon-->
												<div class="stepper-icon w-40px h-40px">
													<i class="stepper-check fas fa-check"></i>
													<span class="stepper-number">2</span>
												</div>
												<!--begin::Icon-->

												<!--begin::Label-->
												<div class="stepper-label">
													<h3 class="stepper-title">
														Bank information
													</h3>

													<div class="stepper-desc">
													</div>
												</div>
												<!--end::Label-->
											</div>
											<!--end::Wrapper-->

											<!--begin::Line-->
											<div class="stepper-line h-40px"></div>
											<!--end::Line-->
										</div>
										<!--end::Step 2-->

										<!--begin::Step 3-->
										<div class="stepper-item mx-8 my-4" data-kt-stepper-element="nav">
											<!--begin::Wrapper-->
											<div class="stepper-wrapper d-flex align-items-center">
												<!--begin::Icon-->
												<div class="stepper-icon w-40px h-40px">
													<i class="stepper-check fas fa-check"></i>
													<span class="stepper-number">3</span>
												</div>
												<!--begin::Icon-->

												<!--begin::Label-->
												<div class="stepper-label">
													<h3 class="stepper-title">
														Review
													</h3>

													<div class="stepper-desc">
													</div>
												</div>
												<!--end::Label-->
											</div>
											<!--end::Wrapper-->

											<!--begin::Line-->
											<div class="stepper-line h-40px"></div>
											<!--end::Line-->
										</div>
										<!--end::Step 3-->
									</div>
									<!--end::Nav-->
									<!--begin::Close-->
									<div class="btn btn-icon btn-sm btn-active-light-primary p-5" data-bs-dismiss="modal" aria-label="Close">
										<i class="ki-outline ki-cross-square fs-1"></i>
									</div>
									<!--end::Close-->
								</div>
							</div>
							<div class="modal-body">
								<div class="d-flex text-start mb-0 w-25">
									<button type="button" class="btn btn-icon btn-active-light" data-kt-stepper-action="previous" id="previousButton">
										<i class="ki-outline ki-left fs-2qx"></i>
									</button>
								</div>
								<!--begin::Form-->
								<form class="form w-lg-700px mx-auto" action="#" autocomplete="off" id="kt_docs_formvalidation_text">
									<!--begin::Group-->
									<div class="mb-0">
										<!--begin::Step 1-->
										<div class="flex-column current" data-kt-stepper-element="content">
											<div class="d-flex text-start mb-0 w-25">
												<a href="#" class="disabled btn btn-flush btn-icon"></a>
											</div>
											<div class="text-center mb-5 ">
												<h3>Beneficiary Information</h3>
											</div>
											<!--begin::Input group-->
											<div class="row">
												<!--begin::Input group-->
												<div class="mb-5 col-md-6">
													<div class="fv-row">
														<input id="nameBeneficiary" type="text" name="text_name" class="form-control" placeholder="Beneficiary name"/>
													</div>
												</div>
												<!--end::Input group-->
												<!--begin::Input group-->
												<div class="mb-5 col-md-6">
													<div class="fv-row">
														<input id="nicknameBeneficiary" type="text" name="text_nickname" class="form-control" placeholder="Beneficiary Nickname"/>
													</div>
												</div>
												<!--end::Input group-->
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
											<div class="row">
												<!--begin::Input group-->
												<div class="rounded mb-5 col-md-6">
													<div class="fv-row">
														<select class="form-select select2-field" name="select2_country" data-placeholder="Select a country" id="kt_docs_select2_country">
															<option></option>
															{{#each countries}}
																<option value="{{this.nameFormat}}" data-kt-select2-country="/assets/media/flags/countries/{{this.nameFormat}}.svg">{{this.name}}</option>
															{{/each}}
														</select>
													</div>
												</div>
												<!--end::Input group-->
												<!--begin::Input group-->
												<div class="mb-5 col-md-6">
													<div class="fv-row">
														<input id="addressBeneficiary" type="text" name="text_address" class="form-control" placeholder="Address line"/>
													</div>
												</div>
												<!--end::Input group-->
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
											<div class="row">
												<!--begin::Input group-->
												<div class="mb-5 col-md-6">
													<div class="fv-row">
														<input id="cityBeneficiary" type="text" name="text_city" class="form-control" placeholder="City"/>
													</div>
												</div>
												<!--end::Input group-->
												<!--begin::Input group-->
												<div class="mb-5 col-md-6">
													<div class="fv-row">
														<input id="stateBeneficiary" type="text" name="text_state" class="form-control" placeholder="State/Province"/>
													</div>
												</div>
												<!--end::Input group-->
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
											<div class="row">
												<!--begin::Input group-->
												<div class="mb-5 col-md-6">
													<input id="postalCodeBeneficiary" type="text" name="text_postal" class="form-control" placeholder="Postal code (optional)"/>
												</div>
												<!--end::Input group-->
												<!--begin::Input group-->
												<div class="mb-5 col-md-6 fv-row">
													<!--begin::Input-->
													<input id="emailBeneficiary" type="email" name="text_email" class="form-control mb-3 mb-lg-0" placeholder="Email address(optional)" />
													<!--end::Input-->
												</div>
												<!--end::Input group-->
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
											<div class="row">
												<div class=" rounded mb-5">
													<div class="fv-row">
														<select class="form-select" name="select2Purpose" data-placeholder="Select Purpose of payment" id="kt_docs_select2_purpose">
															<option></option>
															{{#each purpose}}
																<option value="{{this.name}}">{{this.name}}</option>
															{{/each}}
														</select>
													</div>
												</div>
											</div>
											<div class="row">
												<h5 class="mb-5">Purpose of payment description</h5>
												<div class="fv-row">
													<div class="mb-5">
														<input class="form-check-input" type="radio" name="purpose" value="Payment for logistics services" id="flexRadioLg1"/>
														<label class="form-check-label" for="flexRadioLg1">
															Payment for logistics services
														</label>
													</div>
													<div class="mb-5">
														<input class="form-check-input" type="radio" name="purpose" value="Purchase of household goods" id="flexRadioLg2"/>
														<label class="form-check-label" for="flexRadioLg2">
															Purchase of household goods
														</label>
													</div>
													<div class="mb-5">
														<input class="form-check-input" type="radio" name="purpose" value="Payment for accounting services" id="flexRadioLg3"/>
														<label class="form-check-label" for="flexRadioLg3">
															Payment for accounting services
														</label>
													</div>
													<div class="mb-5">
														<input class="form-check-input" type="radio" name="purpose" value="Tourism and travel service" id="flexRadioLg5"/>
														<label class="form-check-label" for="flexRadioLg5">
															Tourism and travel service
														</label>
													</div>
													<div class="mb-5">
														<input class="form-check-input" type="radio" name="purpose" value="Others" id="flexRadioLg6"/>
														<label class="form-check-label" for="flexRadioLg6">
															Others
														</label>
													</div>
													</div>
											</div>
											<div class="row">
												<!--begin::Input group-->
												<div class="mb-5" id="specificTextarea" style="display:none">
													<div class="fv-row">
														<textarea  class="form-control" name="input_textArea" placeholder="Specific" id="floatingSpecific" style="height: 100px;"></textarea>
														<span class="fs-8 badge badge-light-primary"><i class="ki-outline ki-information-5 text-primary"></i>
															Please be specific, eg. “This company is a supplier of leather goods. 
															Each month we pay this company for wallets and belts”
														</span>
													</div>
													
												</div>
												<!--end::Input group-->
											</div>
											<!--end::Input group-->
										</div>
										<!--begin::Step 1-->
										<!--begin::Step 2-->
										<div class="flex-column " data-kt-stepper-element="content">
											<div class="text-center mb-5 ">
												<h3>Bank Information</h3>
											</div>
											<!--begin::Input group-->
											<div class="row">
												<!--begin::Input group-->
												<div class="rounded mb-5 fv-row">
													<select class="form-select" name="select2Bank_currency" data-placeholder="Select currency" id="kt_docs_select2_currency">
														<option></option>
														{{#each currencies}}
															<option value="{{this.code}}"  data-kt-select2-country="/assets/media/flags/{{this.code}}.svg">{{this.code}}</option>
														{{/each}}
													</select>
												</div>
												<!--end::Input group-->
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
											<div class="row">
												<!--begin::Input group-->
												<div class="rounded mb-5 fv-row">
													<select class="form-select" name="select2Bank_countries" data-placeholder="Select bank country" id="kt_docs_select2_bankCountry">
														<option></option>
														{{#each countries}}
															<option value="{{this.nameFormat}}" data-kt-select2-country="/assets/media/flags/countries/{{this.nameFormat}}.svg">{{this.name}}</option>
														{{/each}}
													</select>
												</div>
												<!--end::Input group-->
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
											<div class="row">
												<!--begin::Input group-->
												<div class="mb-5 col-md-6">
													<div class="fv-row">
														<input id="nameBank" type="text" name="bankName" class="form-control" placeholder="Bank name"/>
													</div>
												</div>
												<!--end::Input group-->
												<!--begin::Input group-->
												<div class="mb-5 col-md-6">
													<div class="fv-row">
														<input id="addressBank" type="text" name="bankAdressLine" class="form-control" placeholder="Adress line"/>
													</div>
												</div>
												<!--end::Input group-->
											</div>
											<!--end::Input group-->
											<!--begin::Input group OTHERS-->
											<div id="othersStepOne" style="display:none;">
												<div class="row fv-row">
													<h5 class="mb-5">What banking information do you have?</h5>
													<div class="mb-5 fv-row">
														<input class="form-check-input" type="radio" name="bankInformationOthers" value="SWIFT" id="radioOthers1"/>
														<label class="form-check-label" for="radioOthers1">
															SWIFT and account number/IBAN
														</label>
													</div>
													<div class="mb-5 fv-row">
														<input class="form-check-input" type="radio" name="bankInformationOthers" value="transitCode" id="radioOthers2"/>
														<label class="form-check-label" for="radioOthers2">
															Transit code and account number
														</label>
													</div>
												</div>
												<div id="othersSelectOne" style="display:none;">
													<div class="row">
														<div class="mb-5 col-md-6 fv-row">
															<input id="swiftOtherOne" type="text" name="othersSwiftOne" class="form-control" placeholder="SWIFT"/>
														</div>
														<div class="mb-5 col-md-6 fv-row">
															<input id="accountOthersOne" type="text" name="othersAccountOne" class="form-control" placeholder="Account number/IBAN"/>
														</div>
													</div>
													<div class="row align-items-center">
														<div class="mb-2 d-flex justify-content-between w-100">
															<h5 class="text-truncate text-sm mb-0">Sending bank instructions (optional)</h5>
															<div class="form-check form-switch form-check-custom form-check-solid">
																<input class="form-check-input" type="checkbox" name="checkbox" id="checkBoxOthersOne" checked="checked" />
																<label class="form-check-label" for="checkBoxOthersOne"></label>
															</div>
														</div>
													</div>
													<div class="mb-5 fv-row" id="instructionsSelectOne">
														<textarea  class="form-control" name="instructionsOtherstOne" placeholder="Write Instructions" id="textSelectOne" style="height: 100px;"></textarea>
														<span class="fs-8 badge badge-light-primary"><i class="ki-outline ki-information-5 text-primary"></i>
															Please be specific, eg. “This company is a supplier of leather goods. 
															Each month we pay this company for wallets and belts”
														</span>
													</div>
												</div>
												<div id="othersSelectTwo" style="display: none;">
													<div class="row">
														<div class="mb-5 col-md-6 fv-row">
															<input id="transitOthersTwo" type="text" name="othersTransitTwo" class="form-control" placeholder="Transit code"/>
														</div>
														<div class="mb-5 col-md-6 fv-row">
															<input id="accountOthersTwo" type="text" name="othersAccountTwo" class="form-control" placeholder="Account number"/>
														</div>
													</div>
													<div class="row align-items-center">
														<div class="mb-2 d-flex justify-content-between w-100">
															<h5 class="text-truncate text-sm mb-0">Sending bank instructions (optional)</h5>
															<div class="form-check form-switch form-check-custom form-check-solid">
																<input class="form-check-input" name="checkbox" type="checkbox" value="" id="checkBoxOthersTwo" checked="checked" />
																<label class="form-check-label" for="checkBoxOthersTwo"></label>
															</div>
														</div>
													</div>
													<div class="mb-5 fv-row" id="instructionsSelectTwo">
														<textarea  class="form-control" name="instructionsOtherstTwo" placeholder="Write Instructions" id="textSelectTwo" style="height: 100px;"></textarea>
														<span class="fs-8 badge badge-light-primary"><i class="ki-outline ki-information-5 text-primary"></i>
															Please be specific, eg. “This company is a supplier of leather goods. 
															Each month we pay this company for wallets and belts”.
														</span>
													</div>
												</div>
											</div>
											<!--end::Input group OTHERS-->
											<!--begin::Input group UNITED STATE-->
											<div id="unitedState" style="display:none;">
												<div class="row">
													<h5 class="mb-5">What banking information do you have?</h5>
													<div class="mb-5 fv-row">
														<input class="form-check-input" type="radio" name="bankInformationUnited" value="ABA" id="radioUnited1"/>
														<label class="form-check-label" for="radioUnited1">
															ABA number and account number
														</label>
													</div>
													<div class="mb-5 fv-row">
														<input class="form-check-input" type="radio" name="bankInformationUnited" value="SWIFT" id="radioUnited2"/>
														<label class="form-check-label" for="radioUnited2">
															SWIFT and account number/IBAN
														</label>
													</div>
												</div>
												<div id="unitedSelectOne" style="display: none;">
													<div class="row">
														<div class="mb-5 col-md-6 fv-row">
															<input id="abaUsdOne" type="text" class="form-control" name="ABAunitedOne" placeholder="ABA number"/>
														</div>
														<div class="mb-5 col-md-6 fv-row">
															<input id="accountUsdOne" type="text" class="form-control" name="accountUnitedOne" placeholder="Account number"/>
														</div>
													</div>
													<!--end::Input group-->
													<!--begin::Input group-->
													<div class="row align-items-center">
														<div class="mb-2 d-flex justify-content-between w-100">
															<h5 class="text-truncate text-sm mb-0">Sending bank instructions (optional)</h5>
															<div class="form-check form-switch form-check-custom form-check-solid">
																<input class="form-check-input" name="checkbox" type="checkbox" value="" id="checkBoxUnitedOne" checked="checked" />
																<label class="form-check-label" for="checkBoxUnitedOne"></label>
															</div>
														</div>
													</div>
													<div class="mb-5" id="instructionsUnitedStateOne" style="">
														<textarea  class="form-control" placeholder="Write Instructions" name="instructionsUSDOne" id="textAreaUnitedStateOne" style="height: 100px;"></textarea>
														<span class="fs-8 badge badge-light-primary"><i class="ki-outline ki-information-5 text-primary"></i>
															Please be specific, eg. “This company is a supplier of leather goods. 
															Each month we pay this company for wallets and belts”
														</span>
													</div>
												</div>
												<div id="unitedSelectTwo" style="display: none;">
													<div class="row">
														<div class="mb-5 col-md-6 fv-row">
															<input id="abaUsdTwo" type="text" name="SWIFTunitedOne" class="form-control" placeholder="SWIFT"/>
														</div>
														<div class="mb-5 col-md-6 fv-row">
															<input id="accountUsdTwo" type="text" name="accountUnitedTwo" class="form-control" placeholder="Account number/IBAN"/>
														</div>
													</div>
													<!--end::Input group-->
													<!--begin::Input group-->
													<div class="row align-items-center">
														<div class="mb-2 d-flex justify-content-between w-100">
															<h5 class="text-truncate text-sm mb-0">Sending bank instructions (optional)</h5>
															<div class="form-check form-switch form-check-custom form-check-solid">
																<input class="form-check-input" name="checkbox" type="checkbox" id="checkBoxUnitedTwo" checked="checked" />
																<label class="form-check-label" for="checkBoxUnitedTwo"></label>
															</div>
														</div>
													</div>
													<div class="mb-5" id="instructionsUnitedStateTwo" style="">
														<textarea  class="form-control" placeholder="Write Instructions" name="instructionsUSDTwo" id="textAreaUnitedStateTwo" style="height: 100px;"></textarea>
														<span class="fs-8 badge badge-light-primary"><i class="ki-outline ki-information-5 text-primary"></i>
															Please be specific, eg. “This company is a supplier of leather goods. 
															Each month we pay this company for wallets and belts”
														</span>
													</div>
												</div>
												
											</div>
											<!--end::Input group UNITED STATE-->
											<!--begin::Input group MEXICO-->
											<div id="mexico" style="display: none;">
												<!--begin::Input group-->
												<div class="row">
													<div class="mb-5 col-md-6 fv-row">
														<input id="mexicoClabe" type="text" name="inputMexico_clabe" class="form-control" placeholder="Clabe"/>
													</div>
													<!--end::Input group-->
													<!--begin::Input group-->
													<div class="mb-5 col-md-6 fv-row">
														<input id="mexicoSwift" type="text" name="inputMexico_SWIFT" class="form-control" placeholder="SWIFT"/>
													</div>
													<!--end::Input group-->
													<!--begin::Input group-->
													<div class="row align-items-center">
														<div class="mb-2 d-flex justify-content-between w-100">
															<h5 class="text-truncate text-sm mb-0">Sending bank instructions (optional)</h5>
															<div class="form-check form-switch form-check-custom form-check-solid">
																<input class="form-check-input" type="checkbox" name="checkbox" id="checkBoxMexico" checked="checked"/>
																<label class="form-check-label" for="checkBoxMexico"></label>
															</div>
														</div>
													</div>
													<div class="mb-5" id="instructions" style="display: block;">
														<textarea  class="form-control" name="instructionsMXN" placeholder="Write Instructions" id="textAreaInstructions" style="height: 100px;"></textarea>
														<span class="fs-8 badge badge-light-primary"><i class="ki-outline ki-information-5 text-primary"></i>
															Please be specific, eg. “This company is a supplier of leather goods. 
															Each month we pay this company for wallets and belts”
														</span>
													</div>
												</div>
												<!--end::Input group-->
											</div>
											<!--end::Input group MEXICO-->
										</div>
										<!--begin::Step 2-->
										<!--begin::Step 3-->
										<div class="flex-column" data-kt-stepper-element="content">
											<div class="text-center mb-5 ">
												<h3>Review </h3>
											</div>
											<!--begin::Content-->
											<div class="d-flex mb-2 mb-lg-0 align-items-center justify-content-center">
												<!--begin::Card-->
												<div class="card card-flush pt-3 mb-5 mb-xl-10" style="width: 650px;">
													<!--begin::Card header-->
													<div class="card-header">
														<!--begin::Card title-->
														<div class="card-title">
															<h5 class="fw-bold">BENEFICIARY INFORMATION</h5>
														</div>
														<!--begin::Card title-->
														<!--begin::Card toolbar-->
														<div class="card-toolbar">
															<!--begin::Underline-->
															<span class="d-inline-block position-relative ms-2 me-4">
																<!--begin::Label-->
																<span class="d-inline-block mb-2 fs-6 fw-bold ">
																	<a href="#" class="">Edit</a>
																</span>
																<!--end::Label-->
																<!--begin::Line-->
																<span class="d-inline-block position-absolute h-2px bottom-0 end-0 start-0 bg-primary translate rounded"></span>
																<!--end::Line-->
															</span>
															<!--end::Underline-->
														</div>
														<!--end::Card toolbar-->
													</div>
													<!--end::Card header-->
													<!--begin::Card body-->
													<div class="card-body pt-3">
														<!--begin::Section-->
														<div class="mb-5">
															<!--begin::Details BENEFICIARY INFORMATION-->
															<div class="d-flex flex-wrap py-0">
																<!--begin::Row-->
																<div class="flex-equal me-5" id="tableBeneficiary">
																	<!--generate::table-->
																</div>
																<!--end::Row-->
															</div>
															<!--end::Row-->
															<!--end::Details HEADER BANK-->
															<div class="separator my-1"></div>
															<div class="">
																<div class="row">
																	<div class="col-6 text-start my-6">
																		<h5>BANK INFORMATION</h5>
																	</div>
																	<div class="col-6 text-end my-6">
																		<!--begin::Underline-->
																		<span class="d-inline-block position-relative ms-2 me-4">
																			<!--begin::Label-->
																			<span class="d-inline-block mb-2 fs-6 fw-bold ">
																				<a href="#" class="">Edit</a>
																			</span>
																			<!--end::Label-->
																			<!--begin::Line-->
																			<span class="d-inline-block position-absolute h-2px bottom-0 end-0 start-0 bg-primary translate rounded"></span>
																			<!--end::Line-->
																		</span>
																		<!--end::Underline-->
																	</div>
																</div>
															</div>
															<!--begin::Details BANK-->
															<div class="d-flex flex-wrap py-0 mb-5">
																<!--begin::Row-->
																<div class="flex-equal me-5" id="tableBank">
																	<!--begin::Details-->
																	
																	<!--end::Details-->
																</div>
																<!--end::Row-->
															</div>
															<!--end::Row-->
															<div class="d-flex flex-stack align-items-center justify-content-center">
																<!--begin::Wrapper-->
																<div class="d-flex" id="buttonCreate">
																	{{!-- <button type="submit" id="formSubmit"  class="text-primary btn btn-warning w-200px rounded hover-scale">
																	Create beneficiary
																	</button> --}}
																</div>
																<!--end::Wrapper-->
															</div>
														</div>
														<!--end::Section-->
													</div>
													<!--end::Card body-->
												</div>
												<!--end::Card-->
											</div>
											<!--end::Content-->
										</div>
										<!--begin::Step 3-->
									</div>
									<!--end::Group-->
									<!--begin::Actions-->
									<div class="d-flex flex-stack align-items-center justify-content-center">
										<!--begin::Wrapper-->
										<div>
											<div class="d-flex ">
												<button type="button" id="kt_docs_formvalidation_text_submit"  class="text-primary btn btn-warning w-200px rounded hover-scale" data-kt-stepper-action="next">
												Next
												</button>
											</div>
										</div>
										<!--end::Wrapper-->
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end::App-->
		<!--begin::Javascript-->
		<script>
		const menuLinks = document.querySelectorAll('.menu-link');
		const activeLinkIndex = localStorage.getItem('activeLinkIndex');
		for (let i = 0; i < menuLinks.length; i++) {
			menuLinks[i].classList.remove('active');
		}
		
		for (let i = 0; i < menuLinks.length; i++) {
			const link = menuLinks[i];

			link.addEventListener('click', function(event) {
				for (let j = 0; j < menuLinks.length; j++) {
					menuLinks[j].classList.remove('active');
				}

				this.classList.add('active');

				localStorage.setItem('activeLinkIndex', i);
			});

			if (activeLinkIndex && i.toString() === activeLinkIndex) {
			link.classList.add('active');
			}
		}
		</script>
		<!--begin::Global Javascript Bundle(mandatory for all pages)-->
		<script src="/assets/plugins/global/plugins.bundle.js"></script>
		<script src="/assets/js/scripts.bundle.js"></script>
		<!--end::Global Javascript Bundle-->
		<!--begin::Custom Javascript-->
		<script src="/assets/js/beneficiaries.js"></script>
		<!--end::Custom Javascript-->
		<!--end::Javascript-->
		<!--begin::Vendors Javascript(used for this page only)-->
		<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/continentsLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZonesLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZoneAreasLow.js"></script>
		<script src="/assets/plugins/custom/datatables/datatables.bundle.js"></script>

		<!--end::Vendors Javascript-->  
	</body>
	<!--end::Body-->
</html>
{{/inline}}
{{/admin}}
