<html>
  <head>
    <style>
      .email-card { font-family: 'Arial', sans-serif; max-width: 600px; margin:
      20px auto; padding: 20px; border: 1px solid #ddd; box-shadow: 0 0 10px
      rgba(0, 0, 0, 0.1); } .email-header { background-color: #f4f4f4; padding:
      10px; text-align: center; border-bottom: 1px solid #ddd; } .email-body {
      padding: 20px; } .email-footer { padding: 10px; background-color: #f4f4f4;
      text-align: center; border-top: 1px solid #ddd; } .button { display:
      inline-block; padding: 10px 20px; margin: 10px 0; background-color:
      #007bff; color: white; text-decoration: none; border-radius: 10px; }
    </style>
  </head>
  <body>
    <div class='email-card'>
      <div class='email-header'>
        <h2>Nuevo Registro!</h2>
        <img
          src='https://i.pinimg.com/564x/6e/8e/97/6e8e971b0ab89ebd956fd9fbf10c55fe.jpg'
          alt='TKambioUS'
          width='50'
        />
      </div>
      <div class='email-body'>
        <p>Hola,</p>
        <p>El cliente completo el formulario de pre registro. Pueden encontrarlo
          en la base de datos con la siguiente información:
        </p>
        <p><strong>Nombre de la empresa:</strong> {{corporate}}</p>
        <p><strong>Nombre completo:</strong> {{fullName}}</p>
        <p><strong>Email:</strong> {{email}}</p>
        <p><strong>Teléfono:</strong> {{phone}}</p>
        <p><strong>País:</strong> {{country}}</p>
        <p>Puedes ver el registro del lead aquí:
          <a class='' href='{{url}}'>Ver leads</a></p>
      </div>
      <div class='email-footer'>
        <p>Saludos,</p>
        <p>El equipo de IT</p>
      </div>
    </div>

  </body>
</html>