<p>Hola,</p>
<p>Un nuevo usuario ha completado el proceso de registro:</p>
<p>Nombre de la empresa: {{corporate}}</p>
<p>Nombre completo: {{fullName}}</p>
<p>Email: {{email}}</p>
<p>Teléfono: {{phone}}</p>
<p>País: {{country}}</p>
<p>Puedes ver el perfil del usuario aquí: <a href='{{url}}'>{{url}}</a></p>
<p>Saludos,</p>
<p>El equipo de soporte</p>